.query-error {
    width: 250px;
    min-height: 50px;
    padding: 20px;
    font-size: 15px;
    background: #D3003F; background: linear-gradient(to bottom, #D3003F 0%, #C40030 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D3003F), color-stop(100%, #C40030)); background: -webkit-linear-gradient(top, #D3003F 0%, #C40030 100%); background: -moz-linear-gradient(top, #D3003F 0%, #C40030 100%); background: -o-linear-gradient(top, #D3003F 0%, #C40030 100%); background: -ms-linear-gradient(top, #D3003F 0%, #C40030 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D3003F', endColorstr='#C40030', GradientType=0); border: 1px solid #B50021; box-shadow: inset 0 1px 0 #E20F4E; -webkit-box-shadow: inset 0 1px 0 #E20F4E; -moz-box-shadow: inset 0 1px 0 #E20F4E;
    color: #fff;
    border-radius: 15px;
    position: fixed;
    z-index: 999;
    top: 20px;
    right: 20px;
}